/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* GOOGLE FONTS */
/* 
font-family: 'Cinzel', serif;
font-family: 'Lato', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poiret One', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Quicksand', sans-serif;

 */
p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
a,
h1,
h2,
h3,
h4,
h5,
h6,th {
  font-family: "Lato", sans-serif;
  font-weight: 600;
}
tr,
td,
label {
  font-family:'Open Sans', sans-serif;
  font-weight: 400;
  font-size:medium;
}
.offcanvas,
.offcanvas h1,
.offcanvas h2,
.offcanvas h3,
.offcanvas h4,
.offcanvas h5,
.offcanvas h6 {
  font-family: "Raleway", sans-serif;
}

.navbar-collapse a,
.navbar-collapse h1,
.navbar-collapse h2,
.navbar-collapse h3,
.navbar-collapse h4,
.navbar-collapse h5,
.navbar-collapse h6,
.navbar-collapse p,
.navbar-collapse ul {
  font-family: "Raleway", sans-serif;
}

.homepageText {
  animation-duration: 2s;
  animation-name: slideDownToTop;
}

@keyframes slideDownToTop {
  from {
    /* margin-top: 100%; */
    /* margin-left: 100%; */
    /* width: 300%; */
    transform: translateY(20px);
    opacity: 0.4;
  }

  to {
    /* margin-top: 0%; */
    transform: translateY(0px);
    /* margin-left: 0%; */
    /* width: 100%; */
    opacity: 1;
  }
}

.homediv {
  height: 100%;
  content: "";
  z-index: 1;
  width: 100%;
  background: linear-gradient(129.96deg, #ff2f2f 10.43%, #000460 92.78%),
    radial-gradient(100% 246.94% at 100% 0%, #ffffff 0%, #020063 100%),
    linear-gradient(58.72deg, #2713ab 0%, #530000 100%),
    linear-gradient(154.03deg, #b70000 0%, #ff003d 74.04%),
    linear-gradient(341.1deg, #ff0000 7.52%, #0038ff 77.98%),
    linear-gradient(136.23deg, #00c2ff 11.12%, #ff0000 86.47%),
    radial-gradient(57.37% 100% at 50% 0%, #b50000 0%, #0034bb 100%);
  background-blend-mode: overlay, color-burn, screen, overlay, difference,
    difference, normal;
  background-size: 400% 400%;
  animation: gradient-anim 15s ease-in-out infinite;
}
#style-scroll::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  border-radius: 0px;
  background-color: transparent;
}

#style-scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

#style-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(76, 76, 76, 0.1);
  background-color: rgba(76, 76, 76, 0.07);
}

.zoom-card {
  transition: transform 0.2s;
}

.zoom-card:hover {
  box-shadow: 3px 3px 3px rgba(83, 83, 83, 0.2);
  transform: scale(1.02);
}
.carousel-indicators {
  padding-top: 20px !important;
}
.carousel-indicators [data-bs-target] {
  width: 13px !important;
  height: 13px !important;
  border-radius: 50% !important;
}
/* .homediv {
  height: 100%;
  content: "";
  z-index: 1;
  width: 100%;
  background: 
    linear-gradient(129.96deg, #ff2f2f 10.43%, #000460 92.78%),
    radial-gradient(100% 246.94% at 100% 0%, #ffffff 0%, #020063 100%),
    linear-gradient(58.72deg, #2713ab 0%, #530000 100%),
    linear-gradient(154.03deg, #b70000 0%, #ff003d 74.04%),
    linear-gradient(341.1deg, #ff0000 7.52%, #0038ff 77.98%),
    linear-gradient(136.23deg, #00c2ff 11.12%, #ff0000 86.47%),
    radial-gradient(57.37% 100% at 50% 0%, #b50000 0%, #0034bb 100%);
  background-blend-mode: 
    overlay, 
    color-burn, 
    screen, 
    overlay, 
    difference,
    difference,
    normal;
  background-size: 400% 400%;
  animation: gradient-anim 15s ease-in-out infinite;
} */

/* .homediv {
  background: linear-gradient(57deg, #231edf, #ea0f6e, #08f211, #f21408);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 36s ease infinite;
  -moz-animation: AnimationName 36s ease infinite;
  -o-animation: AnimationName 36s ease infinite;
  animation: AnimationName 36s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 94%;
  }
  50% {
    background-position: 100% 7%;
  }
  100% {
    background-position: 0% 94%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 94%;
  }
  50% {
    background-position: 100% 7%;
  }
  100% {
    background-position: 0% 94%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 0% 94%;
  }
  50% {
    background-position: 100% 7%;
  }
  100% {
    background-position: 0% 94%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 94%;
  }
  50% {
    background-position: 100% 7%;
  }
  100% {
    background-position: 0% 94%;
  }
} */
